* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
  background-color:#30B868 ;
  border: none;
  padding: 12.5px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.logo img {
  width: 139px;
  height: 60px;

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}

nav .menu a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  align-items: center;
}

 